<h2>Contact Us</h2>
<p>If you have any questions or inquiries, feel free to contact us at example@example.com</p>
<div>
    <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Home")'">На главную</button>
</div>
