<h2>About Us</h2>
<p>Welcome to our Real Estate Rental website. We provide a platform for property owners and renters to connect.</p>
<div>
    <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Home")'">На главную</button>
</div>
