<body>
    <section class="about-us">
        <h2>О Real Estate Rental</h2>
        <div>
            <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Home")'">На главную</button>
        </div>
        <p>Добро пожаловать в Real Estate Rental!Мы стремимся помочь вам найти идеальную недвижимость для ваших нужд. С широким выбором доступных объектов недвижимости, от роскошных апартаментов до уютных коттеджей, мы уверены, что сможем помочь вам найти дом вашей мечты.</p>
        <p>Наша опытная команда готова оказать вам поддержку на каждом этапе, гарантируя, что ваше путешествие в мир аренды будет простым и приятным.</p>
        <img src="/images/команда.png" alt="Our Team" class="about-img">
    </section>
    <section class="our-mission">
        <h2>Наша Миссия</h2>
        <p>В Real Estate Rental наша миссия — предоставить нашим клиентам наилучший возможный опыт аренды. Мы стремимся предложить разнообразный выбор недвижимости, исключительное обслуживание клиентов и безупречный процесс аренды.</p>
        <p>Мы считаем, что поиск недвижимости вашей мечты должен быть приятным и не вызывающим стресса опытом. Наша команда стремится сделать это реальным для вас.</p>
    </section>
    <section class="our-values">
        <h2>Наши Ценности</h2>
        <div class="values-container">
            <div class="value">
                <h3>Честность</h3>
                <p>Мы верим в честность и прозрачность во всех наших сделках.</p>
            </div>
            <div class="value">
                <h3>Добросовестность</h3>
                <p>Мы стремимся предоставлять нашим клиентам исключительный сервис и поддержку.</p>
            </div>
            <div class="value">
                <h3>Совершенство</h3>
                <p>Мы стремимся к совершенству во всем, что мы делаем: от размещения объявлений о продаже недвижимости до обслуживания клиентов.</p>
            </div>
        </div>
    </section>
</body>

