<body>
    <header align="center">
        <h1>Welcome to Real Estate Rental</h1>
    </header>
    <main>
        <div class="home-div">
            <p>Find your dream property with us!</p>
            <p>Explore our available properties and start your rental journey today.</p>
            <div>
                <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Property")'">Просмотреть недвижимость</button>
                <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "About")'">О нас</button>
                <button type="button" class="index-btn" onclick="window.location.href='@Url.Action("Index", "Contact")'">Свяжитесь с нами</button>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>